# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
1031 Calculator Android/Assets/Properties_Empty.db
1031 Calculator Android/Resources/layout/Calculator1031 - Copy (2).axml
1031 Calculator Android/Resources/layout/Calculator1031 - Copy.axml
*.userprefs
1031 Calculator PCL/Droid/ActivityMain.cs
1031 Calculator PCL/Droid/Resources/layout/CustomTabLayout.axml
1031 Calculator PCL/Calculator1031/LaunchScreen.storyboard
icon.png
